.quiz-preview {
  padding: 1em;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 1em;
  grid-template-areas: "details" "engagements";

  @media screen and (min-width: 660px) {
    padding: 1em .5em;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: .5em;
    grid-template-areas: "details engagements";
  }

  .quiz-details {
    grid-area: details;
  }
  .quiz-engagements {
    grid-area: engagements;
  }
}
