.context-menu {
  .context-menu-button {
    background: none;
    border: none;
    font-size: 1rem;
    color: map-get($map: $grey, $key: 600);
    outline: none;
  }
  .context-menu-overlay {
    display: none;
    visibility: hidden;
  }
  .context-menu-items {
    display: none;
    visibility: hidden;
  }

  &.opened {
    .context-menu-overlay {
      display: block;
      visibility: visible;
      position: fixed;
      background-color: #00000011;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .context-menu-items {
      z-index: 6;
      display: block;
      visibility: visible;
      position: absolute;
      right: 0;
      background-color: white;
      padding: 0;
      display: flex;
      flex-direction: column;
      box-shadow: 1px 1px 10px 1px #00000044;
      border: solid 1px map-get($map: $grey, $key: 400);

      .item {
        cursor: pointer;
        background: none;
        border: none;
        padding: .7rem 1.4rem;
        font-size: 1rem;
        white-space: nowrap;
        border-bottom: solid 1px map-get($map: $grey, $key: 300);

        &.with-icon {
          display: flex;
          .icon {
            margin-right: .5em;
            order: 1;
            flex: 0;
            padding: 0;
          }
          .content {
            flex: 1;
            order: 2;
          }
        }

        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: map-get($map: $grey, $key: 200);
        }
      }
    }
  }
}
