@mixin navbar-coloring ($palette) {
  background-color: map-get($palette, 600);
  color: color-yiq(map-get($palette, 600));
  border-bottom: solid 1px map-get($palette, 700);

  .navbar-item {
    color: color-yiq(map-get($palette, 600));
    border-right: solid 1px color-yiq(map-get($palette, 600));

    &:hover {
      color: darken(color-yiq(map-get($palette, 600)), 10);
    }
  }
}

.navbar {
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: space-between;
  align-items: center;

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .center {
    font-family: 'Karla', serif;
    text-align: center;
  }

  .navbar-items {
    display: flex;
    justify-content: flex-end;
    .navbar-item {
      display: inline-block;
      padding: 0 .5rem;
      text-decoration: none;

      &:last-child {
        border-right: none;
      }

      &:hover {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }

  @each $color, $palette in $colorPalettes {
    &.navbar-#{$color} {
      @include navbar-coloring($palette)
    }
  }
}
