// idea taken from https://css-tricks.com/simple-swipe-with-vanilla-javascript/
.swipeable {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  --n: 1; // total number of items

  > .items {
    padding: 1em 0;
    display: flex;
    align-items: stretch;
    overflow-y: hidden;
    // set the width to:
    // parent width X number of items
    width: calc(var(--n)*100%);

    // scroll the contents of based on:
    // 1. the currently selected item (--i)
    // 2. the total number of items (--n)
    // 3. the current offset (--tx) - when the user is in the process of scrolling
    transform: translate(calc(var(--i, 0) / var(--n) * -100% + var(--tx, 0px)));
    transition: transform .3s ease-out;

    // rules for large screens - show in vertical list
    @media screen and (min-width: 660px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: unset;
      transform: none;
      transition: none;
      padding: 0;
    }

    // faster animations when the class smooth is set
    &.smooth {
      transition: transform .1s ease-out;
    }

    > .swipeable-item {
      display: flex;
      align-items: stretch;
      min-width: 100vw;
      padding: 0 5vw;
      width: calc(100%/var(--n));

      @media screen and (min-width: 660px) {
        padding: 0;
      }
    }
  }
}
