// taken from https://css-tricks.com/simple-swipe-with-vanilla-javascript/
.swipable {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  --n: 1;

  > .items {
    padding: 1em 0;
    display: flex;
    align-items: stretch;
    overflow-y: hidden;
    width: calc(var(--n)*100%);
    transform: translate(calc(var(--i, 0) / var(--n) * -100% + var(--tx, 0px)));
    transition: transform .3s ease-out;

    @media screen and (min-width: 660px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: unset;
      transform: none;
      transition: none;
      padding: 0;
    }

    &.smooth {
      transition: transform .1s ease-out;
    }

    > .swipable-item {
      display: flex;
      align-items: stretch;
      min-width: 100vw;
      padding: 0 5vw;
      width: calc(100%/var(--n));

      @media screen and (min-width: 660px) {
        padding: 0;
      }
    }
  }
}
