@import './ui-toolkit/index.scss';

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.offline-message {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: map-get($danger, 700);
  color: white;
  text-align: center;
  padding: .1em;
  font-size: .8em;
  font-weight: bold;
}

.code-example {
  background-color: white;
  border: solid 2px map-get($grey, 800);
  margin-bottom: 10px;
  width: 100%;

  .view {
    padding: 20px;
  }

  .description {
    padding: 10px;
    background-color: map-get($grey, 300);
    color: map-get($grey, 800);
  }

  .code {
    margin: 0;
    padding: 10px;
    background-color: map-get($grey, 800);
    color: map-get($grey, 200);
    overflow: auto;
    width: 100%;
  }
}

body,textarea {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding-bottom: 20px;
}
