.quiz-engagements {
  @media screen and (min-width: 660px) {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: .5em;
    grid-template-areas: ". title" "list list";
    .quiz-engagements-title {
      grid-area: title;
    }
    .quiz-engagements-list {
      grid-area: list;
    }
  }
  .quiz-engagements-title {
    margin: 0;
  }
}

.quiz-engagements-list {
  .quiz-engagements-list-group {
    .date {
      position: sticky;
      top: 0;
      background-color: white;
      padding: 1em;
      font-size: 0.8em;
      color: map-get($grey, 800);
      border-bottom: solid 1px map-get($grey, 300);
    }
    .items {
      margin-top: 1em;
      padding: 0 .5em 1em;
      .item {
        border: solid 1px map-get($grey, 300);
        box-shadow: 1px 1px 10px 1px #00000044;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        color: map-get($grey, 800);
        margin-bottom: 1em;

        .grade {
          margin: 0;
          padding: .6rem .4rem .2rem;
          font-size: 1.3rem;
        }
        .stats {
          border-top: solid 1px map-get($grey, 300);
          border-bottom: solid 1px map-get($grey, 300);
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;

          .stats-item {
            color: map-get($grey, 800);
            text-decoration: none;
            padding: .3em 1em;
            flex: 1;
            text-align: center;

            .name {
              white-space: nowrap;
              font-size: .6rem;
            }

            .value {
              white-space: nowrap;
              font-size: 1rem;
            }
          }
        }
        .controls {
          padding: .4rem .4rem;
        }
      }
    }
  }
}
